/* For topPartContainer */
.topPartContainer {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
/* For Top Part */
.topPartContainer .topPartTop {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.topPartContainer .topPartTop h2 {
  font-family: Inter;
  font-size: 60px;
}
.topPartContainer .topPartTop span {
  font-size: 20px;
}
.topPartContainer .topPartTop button {
  padding: 8px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 45%;
}
/* For Bottom Part */
.topPartContainer .topPartBottom {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.topPartContainer .topPartBottom div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* For short_about component */
.shortAboutWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 10em;
}
.firstImg {
  width: 35em;
}
.secondImg {
  width: 100px;
}
.shortAboutWrapper .shortAboutimg {
  display: flex;
  align-items: first baseline;
  margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  * {
    overflow-x: hidden;
  }

  .shortAboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 1em 2em;
  }
  .shortAboutWrapper h3 {
    font-size: 30px;
  }
  

  @media screen and (max-width: 400px) {
    .topPartContainer{
      display: flex;
      flex-direction: column;
      padding: 0 2em 1em 2em !important;
      margin-top: 10px;
    }
    .topPartContainer .topPartTop h2{
      font-size: 40px;
    }
    .topPartContainer .topPartTop span{
      font-size: 18px;
    }
    .topPartContainer button{
      width: 100% !important;
      padding: 8px 4px !important;
    }
  }
}
