.contact-wrapper {
  margin: 16em 10em 3em 10em;
  display: flex;
  flex-direction: row;
  gap: 6em;
}
h1 {
  font-weight: bold;
  font-size: 24px;
}
span {
  font-size: 20px;
}

/* Form.jsx */
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.form-wrapper form input,
textarea {
  border: 2px solid #eba937;
  outline: none;
  padding: 16px 24px;
  border-radius: 10px;
}

.form-wrapper form div {
  display: flex;
  gap: 3em;
}
.form-wrapper form button {
  background-color: #eba937;
  padding: 5px 6px;
  font-size: 20px;
}

/* Message.jsx */
.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.message-wrapper .message-shared {
  display: flex;
  flex-direction: column;
}
.message-wrapper .message-shared span:nth-last-child(1) {
  color: #eba937;
}
