.howWeGet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  gap: 6rem;
}
.howWeGet img {
  width: 600px;
}
.howWeGet span {
  font-size: 20px;
}
.howWeGet .same {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (max-width: 400px) {
  .howWeGet .same {
    flex-direction: column;
  }

  .howWeGet .same span {
    font-size: 16px;
    padding: 5px 16px;
  }
  .howWeGet .same h2 {
    font-weight: bold;
    padding: 4px 10px;
  }

  .howWeGet .second {
    display: flex;
    flex-direction: column;
  }
  .howWeGet .second div {
    flex-direction: column-reverse;
  }
}
