.testimonial {
  margin: 3em 0;
  background-color: #eba937;
  padding: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.img {
  border-radius: 50%;
  width: 70px !important;
  display: flex;
  position: absolute !important;
  margin: -2.5em 0 2em 7.5em;
  z-index: 1;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding: 3em 2em;
  border-radius: 21px;
}

.card div {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .testimonial{
    padding: 20px;
  }
  .img{
    width: 40px !important;
    margin: 0;
  }
}
